THIRDWEB_SECRET_KEY=
ANTHROPIC_API_KEY=
HOST_WALLET_ADDRESS=
HOST_WALLET_PRIVATE_KEY=
SPLYT_SESSION_CONTRACT=
CELO_RPC_URL=https://forno.celo.org
MONGODB_URI=
MONGODB_DB_NAME=splyt
REDIS_URL=redis://localhost:6379
PORT=3001
